.App {
  text-align: center;
}

.XTask {
  width: 400px;
  border: 3px double black;
  margin: 10px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
}

.XKey {
  margin-left: 20px;
  margin-top: 2px;
}

.DataTable {
  table-layout: fixed;
  border: 1px solid black;
}

.DescriptionTextArea {
  width: 280px;
  resize: vertical;
}

.PropertyName {
  vertical-align: top;
  padding-left: 3px;
  padding-right: 3px;
  border: 1px solid black;
  width: 100px;
}

.PropertyValue{
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
  background-color: lightGray;
  width: 300px;
}

.Buttons {
  text-align: right;
  margin-top:2px;
}